@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
    font-family: 'Geist', sans-serif;
    background-color: #000000;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  p, li, blockquote {
    text-wrap: pretty;
  }
}


/* Smooth focus rings */
:focus-visible {
  outline: 2px solid #FFFFFF;
  outline-offset: 2px;
}
